available: os = "macos"
build: [
  ["dune" "subst"] {dev}
  [
    "OCAML_METAL_SKIP_ICB_TEST=true" {with-test}
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@runtest" {with-test}
    "@doc" {with-doc}
  ]
]